<div class="wrapper">
  <h1>How many persons will travel with you?</h1>
  <div class="flex a-center j-evenly">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Persons</mat-label>
      <input type="number" matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Persons with disabilities</mat-label>
      <input type="number" matInput />
    </mat-form-field>
  </div>

  <div class="flex a-center j-evenly selects">
    <mat-form-field appearance="outline">
      <mat-label>Select all disabilities of persons</mat-label>
      <mat-select multiple>
        <mat-option>Visual Disability</mat-option>
        <mat-option>Motor Disability</mat-option>
        <mat-option>Psychosocial Disability</mat-option>
        <mat-option>Hearing Disability</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
