<div class="container">
  <h1>User Register</h1>
  <div class="flex column">
    <div class="flex j-between">
      <mat-form-field appearance="outline">
        <mat-label>Full name</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birth Day</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Civil State</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nationality</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RFC or Contributor Document</mat-label>
      <input matInput type="text" />
    </mat-form-field>
  </div>
</div>
