.card-wrapper{
    border-radius: 1rem;
    max-width: 30rem;
    min-height: 40rem;
    padding: 2rem;
    gap: 1rem;
}

img{
    width: 100%;
    border-radius: 0.8rem;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1rem;
}

.description{
    overflow-y: auto;
    flex-grow: 1;
}

.price-container{
    justify-content: space-between;
}

.price{
    font-weight: bold;
    color: #0d8a2d;
}