<div class="card-wrapper mat-elevation-z4 flex column">
  <img src="assets/images/capital.avif" alt="">
  <div class="flex a-center icons j-between">
    <span class="icon-wrapper blue-container">
      <mat-icon style="color: #fff;" >accessible</mat-icon>
    </span>
    <span class="icon-wrapper blue-container">
      <mat-icon style="color: #fff;" >accessible</mat-icon>
    </span>
    <span class="icon-wrapper blue-container">
      <mat-icon style="color: #fff;" >accessible</mat-icon>
    </span>
    <span class="icon-wrapper blue-container">
      <mat-icon style="color: #fff;" >accessible</mat-icon>
    </span>
    <span class="icon-wrapper blue-container">
      <mat-icon style="color: #fff;" >accessible</mat-icon>
    </span>
  </div>
  <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus perspiciatis impedit exercitationem, accusantium laboriosam laborum dolore, doloremque ad eveniet eum nam optio ea iusto esse dolor necessitatibus, deserunt autem excepturi? lo</p>
  @if (true) {
    <div class="price-container flex">
      <span class="price">$ 100</span>
    </div>
  }
</div>