<div class="card-wrapper mat-elevation-z4 flex column">
  <img src="assets/images/capital.avif" alt="" />
  <div class="flex a-center icons j-between">
    @for (disability of data.disabilities; track $index) {
    <span class="icon-wrapper blue-container">
      <mat-icon style="color: #fff">{{ disability }}</mat-icon>
    </span>
    }
  </div>
  <p class="description">{{ data.description }}</p>
  @if (showPrice) {
  <div class="price-container flex">
    <span class="price">$ {{ data.price }}</span>
  </div>
  }
</div>
