<div class="wrapper">
  <div class="flex a-center j-between">
    <h2>Add Event @if(newServices.length > 0){ ({{ newServices.length }}) }</h2>
    <mat-form-field class="datepicker" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <input matInput type="text" placeholder="Search" />
  </mat-form-field>

  <div class="cards">
    @for (service of services; track $index) {
    <app-service-card
      [data]="service"
      [showPrice]="true"
      (click)="add(service)"
      style="width: fit-content"
    />
    }
  </div>
  <div class="flex j-end">
    <button
      mat-raised-button
      color="primary"
      [disabled]="newServices.length <= 0"
      (click)="closeDialog()"
    >
      Done!
    </button>
  </div>
</div>
