.wrapper{

    height: calc(100vh - 25rem);
    overflow-y: auto;
}
h1{
    text-align: center;
}

.icon-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        color: #fff;
    }
}

h6,h5,h3 {
    margin: 0px;
}

.margin-top {
    margin-top: 20px;
}

.wrapper {
    display: flex;
    
}

.timeline-wrapper{
    width: 50rem;
    height: 100%;
    padding: 2rem;
}

.event-detail{
    padding: 2rem;
    gap: 2rem;
}