<section class="banner">
  <div class="banner-content">
    <button class="banner-button" mat-raised-button>Make itinerary</button>
  </div>
</section>
<section class="states flex container">
  <img class="section-img" src="assets/images/mexico.webp" alt="mexico-map" />
  <div>
    <h2 class="t-orange">
      32 states <br />
      <span class="t-blue f-m">to fall in love with</span>
    </h2>
    <p>
      Mexico is a great mosaic that combines beautiful natural settings, cities
      with pre-Hispanic, colonial and modern heritage, a wide variety of
      exquisite delicacies that delight palates, and fascinating traditions that
      captivate the visitor.
    </p>
    <p>
      From the beach to the mountains, from the desert to the jungle, from the
      area archaeological to the vibrant metropolis, from sweet to spicy, from
      tranquility to the hubbub of its festivities, Mexico has everything you
      are looking for the tourist, who is well received by the warmth of its
      people. Mexico has 32 states to fall in love with.
    </p>
  </div>
</section>
<section class="curiosities flex container">
  <div>
    <h2 class="t-orange">Did you know that?</h2>
    <ul>
      <li>México tiene la pirámide más grande del mundo</li>
      <li>México es el principal destino turístico de Latinoamérica</li>
      <li>El meteorito que mató a los dinosaurios cayó en México</li>
      <li>México tiene una de las Siete Maravillas del Mundo</li>
      <li>El perro más pequeño del mundo viene de México</li>
      <li>México es el país con más taxis del mundo</li>
      <li>México es el país con más cenotes del mundo</li>
      <li>Ciudad de México se construyó sobre un lago - Y se está hundiendo</li>
    </ul>
  </div>
  <img class="section-img" src="assets/images/mexico-flag.webp" alt="mexico-flag" />
</section>
