<section class="banner">
  <div class="banner-content">
    <a [routerLink]="['/make-itinerary']">
      <button class="banner-button" mat-raised-button>Make itinerary</button>
    </a>
  </div>
</section>
<section class="states flex container">
  <img class="section-img" src="assets/images/mexico.jpg" alt="mexico-map" />
  <div>
    <h2 class="t-orange">
      32 states <br />
      <span class="t-blue f-m">to fall in love with</span>
    </h2>
    <p>
      Mexico is a great mosaic that combines beautiful natural settings, cities
      with pre-Hispanic, colonial and modern heritage, a wide variety of
      exquisite delicacies that delight palates, and fascinating traditions that
      captivate the visitor.
    </p>
    <p>
      From the beach to the mountains, from the desert to the jungle, from the
      area archaeological to the vibrant metropolis, from sweet to spicy, from
      tranquility to the hubbub of its festivities, Mexico has everything you
      are looking for the tourist, who is well received by the warmth of its
      people. Mexico has 32 states to fall in love with.
    </p>
  </div>
</section>
<section class="curiosities flex container">
  <div>
    <h2 class="t-orange">Did you know that?</h2>
    <ul>
      <li>Mexico has the largest pyramid in the world.</li>
      <li>Mexico is the main tourist destination in Latin America.</li>
      <li>The meteorite that killed the dinosaurs fell in Mexico.</li>
      <li>The meteorite that killed the dinosaurs fell in Mexico.</li>
      <li>Mexico has one of the Seven Wonders of the World.</li>
      <li>The smallest dog in the world comes from Mexico.</li>
      <li>Mexico is the country with the most taxis in the world.</li>
      <li>Mexico is the country with the most cenotes in the world.</li>
      <li>Mexico City was built on a lake.</li>
    </ul>
  </div>
  <img class="section-img" src="assets/images/people.jpeg" alt="mexico-flag" />
</section>
